{% extends 'base-fullscreen.html' %}
{% block header %}
  <!-- Background image -->
  <div
    class="bg-image justify-content-center align-items-center"
    style="background-image: url(/static/img/musicevent.jpg); height: 100vh"
  >
    <div
      class="mask"
      style="background-color: rgba(0, 0, 0, 0.8); height: 100vh"
    >
      <div
        class="container d-flex justify-content-center align-items-center h-100 text-center"
      >
        <div class="text-white">
          <h1 class="mb-5 mt-5"><img src="/static/img/logo1.png" alt="" /></h1>
          <h4 class="mb-4">
            Eventos is all about music events around Malaysia!
          </h4>
          <h4 class="mb-4">
            Click the button below to view more events around Malaysia!
          </h4>

          <div class="mb-4">
            <a
              class="btn btn-info btn-lg m-2"
              href="#musicevents"
              role="button"
              rel="nofollow"
              style="color: white"
              ><i class="bi-arrow-down-short"></i>More Events<i
                class="bi-arrow-down-short"
              ></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Background image -->

  <!-- Music Type -->
  <div class="mt-5 text-center">
    <h1 id="musicevents">
      <br />
      Genre of <strong class="text-info">Music Events</strong> in Malaysia!
    </h1>

    <div class="container">
      <h5 class="m-5 p-5">
        Music can be divided into genres in varying ways, such as popular
        music and art music, or religious music and secular music. The
        artistic nature of music means that these classifications are often
        subjective and controversial, and some genres may overlap. In Eventos,
        we most focus on
        <a href="#jazz" class="music">Jazz Music</a>,
        <a href="#pop" class="music">Pop Music</a> and
        <a href="#rock" class="music">Rock Music</a>!
        <br />
        There will have more different genres of music in the future! Please
        stay tuned for future updates!
      </h5>
    </div>

    <br />
  </div>
  <!-- Music Type -->
  <hr />

  <hr class="mt-5" />
  <!-- All Events -->
  <div class="mt-5 text-center">
    <h2 class="mt-5">All Music Events in Malaysia</h2>
    <div class="border-line" style="color: #0980d0"></div>
  </div>

  <div class="container">
    <div class="row">
      <!-- Filter Events -->
      <div id="filter" class="col-12 col-md-7 p-3">
        <i class="bi bi-filter"></i>
        <form action="/events/all" method="post" style="display:inline-block">
          <button class="btn btn-primary filter-button" name="showall" type="submit">All</button>
        </form>
        <form action="/events/jazz" method="post" style="display:inline-block">
          <button class="btn btn-outline-primary filter-button" name="jazz" type="submit">Jazz</button>
        </form>
        <form action="/events/pop" method="post" style="display:inline-block">
          <button class="btn btn-outline-primary filter-button" name="pop" type="submit">Pop</button>
        </form>
        <form action="/events/rock" method="post" style="display:inline-block">
          <button class="btn btn-outline-primary filter-button" name="rock" type="submit">Rock</button>
        </form>
        <form action="/events/jpop" method="post" style="display:inline-block">
          <button class="btn btn-outline-primary filter-button" name="jpop" type="submit">J-Pop</button>
        </form>
        <form action="/events/kpop" method="post" style="display:inline-block">
          <button class="btn btn-outline-primary filter-button" name="kpop" type="submit">K-Pop</button>
        </form>
        <form action="/events/cpop" method="post" style="display:inline-block">
          <button class="btn btn-outline-primary filter-button" name="cpop" type="submit">C-Pop</button>
        </form>
        <form action="/events/other" method="post" style="display:inline-block">
          <button class="btn btn-outline-primary filter-button" name="others" type="submit">Others</button>
        </form>
      </div>
      <!-- Filter Events -->

      <!-- Search -->
      <div class="col-12 col-md-5 p-3">
        <form class="form-inline d-flex flex-nowrap" action="{{url_for('main.search')}}" >
          <input type="text" name="search" class="form-control flex-grow-1 my-1 mr-sm-2" id="SearchForm">
          <button type="submit" class="flex-shrink-1 btn btn-primary my-1">Submit</button>
        </form>
      </div>
      <!-- Search -->
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for event in event %}
      
      <div class="col mb-4">
        <div class="card">
          <div class="backgroundEffect">
            <h5 class="card-title">{{event.name}}</h5>
            <img src={{event.image}} class="card-img-top" alt="...">
            <div class="card-body">
              <br />
              <span class="text-primary fw-bold">{{event.location}} on {{event.date}} at {{event.time}} </span>
              <br />
              <span class="text-primary fw-bold">{{event.description}}</span>
              <br />
              <p class="card-text">{{event.status}}</p>
              <a button type="button" class="btn btn-info" href="{{url_for('event.show', id=event.id)}}">Read More</a> 
            </div>
          </div>
        </div>
      </div>
    
    {% endfor %}
  </div>


{% endblock %}

